.square-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Цвет фона кнопки */
  border-radius: 10px; /* Радиус скругления углов */
  cursor: pointer;
  border: 0px;
  margin: 0px 10px;
  box-sizing: border-box; /* Добавим box-sizing */
  overflow: hidden; /* Обрезаем излишний контент */
}

.square-button img {
  height: 450px;
  width: 100%;
  object-fit: cover; /* Заполнение изображения без искажений */
  border-radius: 10px; /* Радиус скругления углов (если нужно) */
  position: relative; /* Для позиционирования псевдоэлемента */
  z-index: 1; /* Установка индекса слоя для изображения */
}

.square-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25); /* Полупрозрачный черный цвет */
  border-radius: 10px; /* Радиус скругления углов, соответствующий изображению */
  z-index: 2; /* Установка индекса слоя над изображением */
}

.square-button-text {
  position: absolute;
  font-size: 3vw;
  color: white;
  margin: 0;
  padding: 0px 10px;
  color: white;
  z-index: 3; /* Установка индекса слоя над слоем изображения */
}
