.navbarHomeUp {
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: #4e2929e1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbarHomeUp p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .navbarHomeUp p span {
    margin-left: 10px;
  }
  