.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #45383D; /* Чуть светлее цвет */
  padding: 10px 20px; /* Добавляем немного отступов */
  height: 50px;
}

.logo {
  font-size: 24px; /* Большой красивый шрифт */
  font-family: 'Arial', sans-serif; /* Укажите красивый шрифт */
  color: white;
  margin: 0px 100px;
}

.links {
  display: flex;
  align-items: center;
  color: white;
}

.links p {
  margin: 0 10px; /* Отступы между элементами */
  font-size: 18px; /* Красивый шрифт */
  font-family: 'Arial', sans-serif; /* Укажите красивый шрифт */
}

.icons {
  margin: 0px 100px; /* Отступы иконок от боков */
}

.icons span {
  margin: 0 15px; /* Отступы между иконками */
  font-size: 28px; /* Размер иконок */
  color: red; /* Красный цвет сердца */
  
}