/* NavbarDown.module.css */
.navbarDown {
  background-color: #37272D;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}

.logo {
  font-weight: bold;
}

.columns-container {
  display: flex;
}

.column {
  margin-left: 20px;
}

.icons {
  display: flex;
}

.divider {
  border: none;
  height: 1px;
  background-color: white;
  width: 100%;
}

.footer {
  display: flex;
}
