.navbarHomeDown {
    margin: 0;
    padding: 0;
    height: 500px;
    background-color: #45383D;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbarHomeDown p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .navbarHomeDown p span {
    margin-left: 10px;
  }
  